{# templates/game/actual_state.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
	<h2>{{header}} no {{game_number}}</h2>
{% endblock %}
{% block message %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			<b>{{ message }}</b>
		</div>
	{% endfor %}
{% endblock %}


{% block content %}

	{% set genHealth = 0 %}

	{% for key,building in buildings %}
		{% if key == 0 and building.health <= 0 %}						
			
		<div class="alert alert-success">
			<b>Castle is taken. The Game is over.</b>
		</div>

		{% endif %}	
        
		{# Statement checking general health of all buildings apart of castle  #}
		{% if key > 0 %}
			{% if building.health < 0 %}
				{% set buildingHealth = 0 %}	
			{% else %}
				{% set buildingHealth = building.health %}
			{% endif %}

			{% set genHealth = genHealth + buildingHealth %}

		{% endif %}

		{# Block presenting names of buildings with appropriate  health  and marking destroyed ones on red #}	

		{% include 'game/building_list.html.twig' %}

		
	{% endfor %}

	{% if genHealth <= 0 %}
		
		<div class="alert alert-danger">
			<b>All buildings are destroyed. Game is over.</b>			
		</div>	
		
	{% else %}
		<section class="play">
			<a href="{{ path('fire_again')}}" class="btn btn-primary" role="button">Fire Trebuchet</a>
		</section>		
	{% endif %}

{% endblock %}
