{# templates/game/building_list.html.twig #}
{# Block presenting names of buildings with appropriate  health  and marking destroyed ones on red #}

<p style="color:LightGreen; font-weight:bold;">

	{% if building.health <= 0  %}
		<span style="color:red; font-weight:bold;">
	{% endif %}

	{% if key == 0  %}
		<span style="color:yellow; font-weight:bold;">
			Castle _________
		</span>
	{% elseif key in 1..4 %}
		{% if building.health < 75 and building.health > 0  %}
			<span style="color:GoldenRod; font-weight:bold">
				House no {{key}} ___
			</span>
		{% else %}
			<span>
				House no {{key}} ___
			</span>
		{% endif %}	
	{% elseif key in 5..9 %}
		{% if building.health < 50 and building.health > 0  %}
			<span style="color:GoldenRod; font-weight:bold">
				Farm no	{{key}}	____
			</span>
		{% else %}
			<span>
				Farm no	{{key}}	____
			</span>
		{% endif %}
				
	{% endif %}
	{{building.health}}	

</p>
