{# templates/game/first_fire_state.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
	<h2>{{header}} no {{game_number}}</h2>
{% endblock %}

{% block message %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			<b>{{ message }}</b>
		</div>
	{% endfor %}
{% endblock %}


{% block content %}

	{% for key,building in buildings %}
		{% include 'game/building_list.html.twig' %}		
	{% endfor %}

	<section class="play">
		<a href="{{ path('fire_again')}}" class="btn btn-primary" role="button">Fire Trebuchet</a>
	</section>

{% endblock %}
