{# templates/game/index.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
    <h2>{{header}}</h2>
{% endblock %}

{% block content %}
<div class="wrap">
	<section class="new-game">
        <a href="{{ path('new_game')}}" class="btn btn-primary" role="button">Start New Game</a>        
    </section>		
</div>

{% endblock %}