{# templates/game/newgame.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
	<h2>{{header}} no {{game_number}}</h2>
{% endblock %}

{% block content %}    
   
	{% for key,building in buildings %}
		{% include 'game/building_list.html.twig' %}	
	{% endfor %}
 
    <section class="play">        
        <a href="{{ path('fire_trebuchet')}}" class="btn btn-primary" role="button">Fire Trebuchet</a>
    </section>

{% endblock %}
