<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{page_title}}{% endblock %}</title>
       
       
        {% block stylesheets %}
            {# <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">     #}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        {% endblock %}
    </head>

    <body class="text-light bg-dark">
        {% block body %}
            <div class="row">
                <div class="col">
                   
                </div>
                <div class="col-lg-8 text-center border border-secondary border-bottom-0">                
                    {% block header %}{% endblock %} 
                </div>
                <div class="col">
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                   
                    {% block navbar %}
                        <section class="text-center">
                            <a href="{{ path('game_manager')}}" class="btn btn-secondary" role="button">Home Page</a>
                        </section>
                    {% endblock %}
                    
                </div>
                <div class="col-lg-8 text-center border border-secondary border-top-0 border-bottom-0"> 
                    {% block message %}
                    {% endblock %}                    
                </div>
                <div class="col">
                   
                </div>
            </div>

            
            <div class="row">
                <div class="col">
                                       
                </div>
                <div class="col-lg-8 text-center border border-secondary border-top-0 ">
                    {% block content %}{% endblock %}                    
                </div>
                <div class="col">
                   
                </div>
            </div>
        {% endblock %}
    </body>
</html>
