{# templates/game_manager/index.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
	<h2>{{header}}</h2>
{% endblock %}

{% block navbar %}	
    <div class="wrap">
        <section class="text-center">
            <a href="{{ path('new_game')}}" class="btn btn-primary" role="button">Start New Game</a>    
        </section>
    </div>
{% endblock %}


{% block content %}
	    
    {% if all_games is defined %}    
        <table class="table table-striped table-dark table-hover text-center" border="1" style="font-size:14px; width:100%;">
            <tr style="color:yellow; background-color:black;">
                <th>Game Id</th>
                <th>Game Name</th>                
                <th>Load Game Status</th>                      
            </tr>
            {% for key,game in all_games %}
                {% set key_base = key[:4] %}
                
                {% set id = key[4:] %}
                
                {% if id > 0 and key_base == "game"  %}
                    <tr class="text-center" >
                        <td>{{id}}</td>
                        <td>{{key}}</td>
                        <td style="color:blue; font-weight:bold">
                            <a href="http://localhost/sport80_tech_test/public/manager/load/{{id}}" style="color:lightgreen;">Load Game</a>
                        </td>
                    </tr>
                {% endif %}    
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
