{# templates/game_manager/loaded_game.html.twig #}

{% extends "base.html.twig" %}

{% block header %}
	<h2>{{header}} no {{game_number}}</h2>
{% endblock %}

{% block message %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			<b>{{ message }}</b>
		</div>
	{% endfor %}
{% endblock %}

{% block content %}		

	{% set genHealth = 0 %}

	{% for key,building in buildings %}

		{# Check the health of castle  #}
		{% if key == 0 and building.health <= 0 %}
			<div class="alert alert-danger">
				<b>The castle was conquered. Game is over.</b>
			</div>
		{% endif %}

		{# Check general health of all buildings apart of castle  #}
		{% if key > 0 %}
			{% if building.health < 0 %}
				{% set buildingHealth = 0 %}
			{% else %}
				{% set buildingHealth = building.health %}
			{% endif %}

			{% set genHealth = genHealth + buildingHealth %}

		{% endif %}

		{% include 'game/building_list.html.twig' %}

	{% endfor %}

	{% if genHealth <= 0 %}
		<div class="alert alert-danger">
			<b>All buildings are destroyed. Game is over.</b>
		</div>		
	{% else %}
		
		<section class="play">
			<a href="{{ path('continue_loaded_game',{'id':game_number})}}" class="btn btn-primary" role="button">Fire Trebuchet</a>
		</section>

	{% endif %}

{% endblock %}

